name: Sync JSON files to ped_app_data

on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4

      - name: Prepare export
        run: |
          mkdir export
          cp -r assets/*.json export/ || true
          mkdir -p export/protocoles
          cp -r assets/protocoles/*.json export/protocoles/ || true

      - name: Push to ped_app_data repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.SECOND_REPO_TOKEN }}
          external_repository: Z4rsi0/ped_app_data
          publish_dir: ./export
          publish_branch: main
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
